<table>
    <thead>
        <tr>
            <th>Label</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @for (item of items(); track $index) {
            <tr>
                <td>{{ item.label }}</td>
                <td>{{ item.price }}</td>
                <td>
                    <button (click)="onSelectHandler(item)">Voir</button>
                    <button (click)="onRemoveHandler(item)">Supprimer</button>
                </td>
            </tr>
        }
    </tbody>
</table>