<div class="container">
    <div class="row">
        <div class="col s6">
            <produit-list (onSelect)="selectedProduct.set($event)"></produit-list>
        </div>
        <div class="col s6">
            @if (selectedProduct(); as product) {
                <produit-detail [product]="product"></produit-detail>
            }
        </div>
    </div>
</div>